@font-face {
    font-family: "din-regular";
    src: url("../fonts/DIN2014-Regular.ttf");
}

@font-face {
    font-family: "din-light";
    src: url("../fonts/DIN2014-Light.ttf");
}


@font-face {
    font-family: "din-demibold";
    src: url("../fonts/DIN2014-DemiBold.ttf");
}

@font-face {
    font-family: "din-bold";
    src: url("../fonts/DIN2014-Bold.ttf");
}
