@import url("fonts.css");

:root {
    --main: #D8DEE9;
    --secondary: #4C566A;
    --font: #606C71
}

* {    
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "din-regular";
}

h1 {
    color: var(--secondary); 
    font-family: "din-bold";
}

h2 {
    color: var(--secondary);
    font-family: "din-light";
}

a {
    color: var(--secondary);
}

@media only screen and (max-width: 900px)  {
    .container {
        margin: auto;
        width: 90%;
    }

    .project {
        margin: auto;
        width: 100%;
        background-color: var(--main);
    
    }

    .img {
        opacity: 0;
        position: absolute;
        background-image: url("../img/nitro-logo.png");
        width: 0px;
        height: 0px;
    }

    .divider {
        background-color: var(--secondary);
        height: 2.5px;
        width: 85%;
        margin: auto;
    }
}

@media only screen and (min-width: 900px) {
    .container {
        margin: auto;
        width: 840px;
    }

    .project {

        width: 80%;
        height: 350px;
        background-color: var(--main);
    
    }

    .img {
        float: right;
        width: 35%;
        height: 100%;
        margin-left: 50px;
    }

    .divider {
        background-color: var(--secondary);
        height: 2.5px;
        width: 900px;
        margin: auto;
    }
}

.header {
    background-color: var(--main);
}

.btn {
    font-family: "din-bold";
    font-size: 16px;

    padding: 0.6rem 0.9rem;
    margin-bottom: 7.5px;
    margin-right: 10px;

    text-decoration: none;
    display: inline-block;

    color: var(--secondary);
    background-color: var(--main);

    border-color: var(--secondary);
    border-style: solid;
    border-width: 3px;

    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn:hover {
    font-family: "din-bold";
    font-size: 16px;

    padding: 0.6rem 0.9rem;
    margin-bottom: 7.5px;
    margin-right: 10px;

    text-decoration: none;
    display: inline-block;

    color: var(--main);
    background-color: var(--secondary);

    border-color: var(--secondary);
    border-style: solid;
    border-width: 3px;

    transition: color 0.2s, background-color 0.2s, border-color;
}

.tab {
    font-family: "din-bold";
    font-size: 16px;

    padding: 0.6rem 0.9rem;
    margin-bottom: 12.5px;
    margin-right: 10px;

    text-decoration: none;
    display: inline-block;

    color: var(--secondary);
    background-color: var(--main);

    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.project h1{
    padding: 20px 35px;
}

p {
    padding: 0px 35px;
    color: var(--font);
}

.project p {
    padding: 0px 35px;
}

.footer {
    background-color: var(--secondary);
}

.content {
    padding: 30px 0px;
    text-align: center;
}
